@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}

*:focus {
  outline: none;
}

label
{
  font-family: 'Poppins', sans-serif !important;
  color: rgb(118, 118, 118);
  font-size: large;
}

p
{
  font-size: large;
}

.bt
{
    color: white;
    border: none;
    border-radius: 9px;
    background-color: #EE7C36;
    cursor: pointer;
    font-size: large;
    padding: 10px 25px;
    margin-left: 2vw;
    min-width: 120px;
    font-family: 'Poppins', sans-serif;
}

.bt:hover
{
  transform: scale(0.98);
  transition: 0.1s;
}

header
{
  margin: 2vh auto ;
  height: 8vh;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.medium-editor-element
{
  padding: 10px;
  min-height: 18px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

.medium-editor-placeholder
{
  color: rgb(118, 118, 118);
}

.inlineAdd
{
  display: inline;
}

.header--planeDiv
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.header--planeDiv > p
{
  font-size: x-large;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.header--logoImg
{
  height: 100%;
  padding-right: 5px;
  float: left;
}

.editor
{
  width: 85vw;
  margin: 0 auto;
}

.submitIcon
{
  color: rgb(118, 118, 118);
  cursor: pointer;
  display: inline;
  margin: auto 15px;
}


.main
{
  width: 75vw;
  margin: 0 auto ;
  padding-bottom: 10vh;
}


.tilt
{
  animation: tiltPlus 0.3s forwards;
}

@keyframes tiltPlus {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(45deg);}
}

.main--customIcon
{
  color: rgb(118, 118, 118);
  cursor: pointer;
  margin: auto 15px;
}


.main--titleInput
{
  border: none;
  font-size: xx-large;
  margin:1vh auto 3vh auto;
  width: 100%;
  display: inline;
  font-family: 'Poppins', sans-serif;
}

.main--titleInput:focus
{
  outline: none;
}

.section--textInput
{
  border: none;
  overflow:hidden;
  font-size: large;
  margin:1vh auto 3vh auto;
  width: 100%;
  display: inline;
  font-family: 'Poppins', sans-serif !important;
    
}

.section--textInput:focus
{
  outline: none;
}

#imageInput
{
  display: none;
}

.section--imageInput
{
  display:flex;
  margin:1vh auto 3vh auto;
}

.ImageUpload--div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ImagePreview--img
{
  display: block;
  width: 40%;
  margin: 3vh auto;
}

.ImagePreview--div
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Preview--div,
.Publish--div
{
  width: 68vw;
  margin: 0 auto ;
  padding-bottom: 10vh;
}

.Preview--div > h1
{
  font-size: xx-large;
}

.Preview--emptyErr,
.published
{
  text-align: center;
  font-size: large;
  color: rgb(118, 118, 118);
  margin-top: 20vh;
}

.Publish--div
{
  display: flex;
  flex-direction: row;
  gap:3vw;
}

.img--upload
{
  background-color:#ECECEC ;
  color: #292930;
  height: 250px;
  width: 85%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img--upload > p,
.img--upload > i
{
  display: inline;
  color: rgb(118, 118, 118);
}

.story--prev
{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.story--prev > img
{
  width: 85%;
  margin: 2vh auto;
  max-width: 300px;
  min-width: 300px;
}

.story--prev > input,
.boldText > input,
.img--upload > input
{
  border-style: none none solid none;
  width: 100%;
  font-size: large;
  margin: 3vh auto 0 auto;
  background-color: transparent;
}

.boldText > input,
.boldText > input::placeholder
{
  font-size: x-large;
  font-weight: 700;
}

.tag--select
{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.tag--select > p
{
  align-self: flex-start;
}

.tag--options
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag--options > div
{
  display: flex;
  flex-direction: row;
  border: 2px solid #999FAE;
  border-radius: 50px;
  color: #999FAE;
  font-size: medium;
  min-width: 145px;
  margin: 1vh auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-right: 10px;
  cursor: pointer;
}

.tagName
{
  width: 100%;
}

.tag--options > div:hover
{
  transform: scale(0.98);
  transition: 0.1s;
  color: #292930;
  border: 2px solid #292930;
}

.tagImg
 {
  width: 35px;
  padding-left:6px;
 }